logs
project/project
project/target
.classpath
.settings
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/RUNNING_PID
/project/*-shim.sbt
activator-sbt-echo-play-shim.sbt
*.log
*.log.*
.target
.cache
bin
