img {
	width: 100%;
}

.preview {
	width: 200px;
	height: 200px;
}

.field {
	box-sizing: border-box;
	float: left;
	width: 12.5%;
	height: 12.5%;
	border-width: 1px;
	border-style: solid;
}

.field:hover {
	background-color: lime;
	opacity: 0.5;
}

.dark {
	background-color: #A4785B;
}

.light {
	background-color: #E5CEA4;
}

.selected {
	border-style: solid;
	border-width: 3px;
	border-color: cornflowerblue;
	background-origin: border-box;
}

.possible {
	background-color: lavender;
}

.clear {
	clear: both;
}