#playground {
	width: 100%;
	border-style: solid;
	border-width: 2px;
	margin-right: auto;
	margin-left: auto;
}

.field {
	float: left;
	width: 12.5%;
	height: 12.5%;
	border-style: solid;
	border-width: 1px;
}

.field:hover {
	background-color: lime;
	opacity: 0.5;
}

.dark {
	background-color: #A4785B;
}

.light {
	background-color: #E5CEA4;
}

.selected {
	border-style: solid;
	border-width: 3px;
	border-color: cornflowerblue;
	background-origin: border-box;
}

.possible {
	background-color: lavender;
}

.clear {
	clear: both;
}

/* Image content, :after for Firefox and IE */
.blackL, .blackL:after {
	content: url("../images/blackBishop.png");
}

.whiteL, .whiteL:after {
	content: url("../images/whiteBishop.png");
}

.blackK, .blackK:after {
	content: url("../images/blackKing.png");
}

.whiteK, .whiteK:after {
	content: url("../images/whiteKing.png");
}

.blackP, .blackP:after {
	content: url("../images/blackKnight.png");
}

.whiteP, .whiteP:after {
	content: url("../images/whiteKnight.png");
}

.blackB, .blackB:after {
	content: url("../images/blackPawn.png");
}

.whiteB, .whiteB:after {
	content: url("../images/whitePawn.png");
}

.blackD, .blackD:after {
	content: url("../images/blackQueen.png");
}

.whiteD, .whiteD:after {
	content: url("../images/whiteQueen.png");
}

.blackT, .blackT:after {
	content: url("../images/blackRook.png");
}

.whiteT, .whiteT:after {
	content: url("../images/whiteRook.png");
}

.empty, .empty:after {
	content: url("../images/empty.png");
}