#playground {
	width: 100%;
	border-style: solid;
	border-width: 2px;
	margin-right: auto;
	margin-left: auto;
}

.field {
	float: left;
	width: 12.5%;
	height: 12.5%;
	border-style: solid;
	border-width: 1px;
}

.field:hover {
	background-color: lime;
	opacity: 0.5;
}

.selected {
	border-style: solid;
	border-width: 3px;
	border-color: cornflowerblue;
	background-origin: border-box;
}

.dark {
	background-color: #A4785B;
}

.light {
	background-color: #E5CEA4;
}

.clear {
	clear: both;
}

.blackL {
	content: url("../images/blackBishop.png");
}

.whiteL {
	content: url("../images/whiteBishop.png");
}

.blackK {
	content: url("../images/blackKing.png");
}

.whiteK {
	content: url("../images/whiteKing.png");
}

.blackP {
	content: url("../images/blackKnight.png");
}

.whiteP {
	content: url("../images/whiteKnight.png");
}

.blackB {
	content: url("../images/blackPawn.png");
}

.whiteB {
	content: url("../images/whitePawn.png");
}

.blackD {
	content: url("../images/blackQueen.png");
}

.whiteD {
	content: url("../images/whiteQueen.png");
}

.blackT {
	content: url("../images/blackRook.png");
}

.whiteT {
	content: url("../images/whiteRook.png");
}

.empty {
	content: url("../images/empty.png");
}