@(form: play.data.Form[MainController.Login])

<!DOCTYPE html>
<html>

	<head>
		<title>Login to Chess</title>
		
		<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
		<script type='text/javascript' src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>
		<link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap-theme.min.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap-social.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("stylesheets/login.css")'>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	</head>
	
	<body>
		<div class="container form-signin">
			@helper.form(routes.MainController.authenticate) {
				<h2 class="form-signin-heading">Please login</h2>
				@if(form.hasGlobalErrors) {
					<div class="alert alert-danger alert-dismissible" role="alert">
					 	<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true">&times;</span>
					  		<span class="sr-only">Close</span>
					  	</button>
						@form.globalError.message
					</div>
				}
				<input type="email" name="email" class="form-control" placeholder="Email address" value="@form("email").value" required autofocus>
				<input type="password" name="password" class="form-control" placeholder="Password" required>
				<!--
				<div class="checkbox">
	          		<label>
	            		<input type="checkbox" value="remember-me">Remember me
	          		</label>
	        	</div>
	        	-->
	        	<button class="btn btn-primary btn-block" type="submit">Login</button>
	        	<a href="/login/google" class="btn btn-block btn-social btn-google-plus">
				  <i class="fa fa-google"></i>
				  Sign in with Google
				</a>
			}
		</div>
	</body>
	
</html>