@(title: String)(content: Html)

<!DOCTYPE html>
<html>

	<head>
	    <title>@title</title>
	    
	    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
	    
	    <!-- jQuery -->
    	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
	    
	    <!-- Bootstrap -->
	    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap-theme.min.css")'>
		<script type='text/javascript' src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>

		<link rel='stylesheet' href='@routes.Assets.at("stylesheets/main.css")'>		
		<script type='text/javascript' src='@routes.Assets.at("javascripts/main.js")'></script>
	</head>
	
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
			        	<span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			    	</button>
			    	<a class="navbar-brand" href="/">Chess</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
			        	<li class="active"><a href="/">Home</a></li>
			            <li><a href="/chess">Play Chess</a></li>
			            <li class="dropdown">
					        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Rules<span class="caret"></span></a>
					        <ul class="dropdown-menu" role="menu">
					          <li><a href="/rules#general">General rules</a></li>
					          <li><a href="/rules#basic">Basic moves</a></li>
					          <li><a href="/rules#castling">Castling</a></li>
					          <li><a href="/rules#passant">En passant</a></li>
					          <li><a href="/rules#promotion">Pawn promotion</a></li>
					        </ul>
						</li>
			     	</ul>
			     	<ul class="nav navbar-nav navbar-right">
			            <li><a href="/logout">Logout</a></li>
			     	</ul>
				</div>
			</div>
		</div>
	  	
	  	<div id="pageContent" class="container" role="main">
			@content
		</div>
	</body>
	
</html>
